{% extends 'layout.html' %}

{% block content %}
<div class="col-md-6 offset-md-3">
    <form action="{% url 'password' %}" class="form my-5">
        <h2 class="text-center title">Password Generator</h2>
        <p class="text-center sub-title mb-4">Generate your secure passwords</p>
        <hr class="line mb-4">
        <div class="mb-3">
            <label for="length" class="form-label">Select password length</label>
            <select class="form-select" name="length" id="length">
                <option value="6">6 characters</option>
                <option value="7">7 characters</option>
                <option value="8">8 characters</option>
                <option value="9">9 characters</option>
                <option value="10">10 characters</option>
                <option value="11">11 characters</option>
                <option value="12">12 characters</option>
                <option value="13">13 characters</option>
                <option value="14">14 characters</option>
            </select>
        </div>
        <div class="mb-3">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="uppercase" name="uppercase">
                <label class="form-check-label" for="uppercase">Uppercase <span class="examples">(for example, A-Z)</span></label>                
            </div>
        </div>
        <div class="mb-3">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="symbols" name="symbols">
                <label class="form-check-label" for="symbols">Symbols <span class="examples">(for example, @#$&/|\{}[])</span></label>
            </div>
        </div>
        <div class="mb-4">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="numbers" name="numbers">
                <label class="form-check-label" for="numbers">Numbers <span class="examples">(for example, 0-9)</span></label>
            </div>
        </div>
        <div class="d-grid gap-2">
            <button type="submit" class="btn-generate">
                <i class="fa-solid fa-circle-chevron-right"></i> Generate Password</button>
        </div>
    </form>
</div>
{% endblock %}