{% extends 'layout.html' %}

{% block content %}
<div class="col-md-6 offset-md-3 my-5">
    <a href="{% url 'index' %}" class="btn-back"><i class="fa-solid fa-circle-arrow-left"></i> Go Back</a>

    <div class="form mt-5">
        <h2 class="title-password text-center my-4">Your password is</h2>

        <div class="password-container">
            <input id="password" class="generated-password" type="text" value="{{password}}" /><i class="fa-solid fa-arrows-rotate refresh" id="refresh"></i>
        </div>

        <div class="btn-copy-container">
            <button class="btn-copy" id="copy"><i class="fa-solid fa-clone"></i> Copy Password</button>
        </div>
    </div>

</div>
{% endblock %}